

### Created by https://www.gitignore.io
### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###
/doc

### cx bundle output ###
bundle/
repomix-output.xml
.cx/
tmp/

### Rust native PoC build artifacts ###
native/stem_native/target/
